body{
  font-family: Helvetica;
  margin: 0;
  height: auto !important
}

.orange {
  color: orange;
}

h1,h2,h3{
  margin: 0;
}

#menu-bar{
  background: crimson;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

main{
  background: #eee;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
}

.content{
  padding: 20px;
}

.content,
.content input[type="submit"]{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #777;
  border: 0;
  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
  font-size: 16px;
}

.content button:nth-child(2), button:nth-child(7){
  float: right;
}

.content ul{
  padding: 0;
  list-style-type: none;
  margin: 30px 0;
}

.content li{
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  color: #444;
}

.content li span{
  float: right;
}

.content li h3{
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
}

.content input{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}

.content input[type="submit"]:last-child{
  width: 150px;
  display: block;
  margin: 15px auto;
}

.remove{
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
}


/*animations starts there*/

main.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity:1;
}

input.ng-invalid.ng-touched, input.ng-invalid.ng-touched{
   border:2px solid red;

}

input[disabled="disabled"]{
    opacity: 0.4;
    cursor: not-allowed !important;
}

button, input, select, textarea {
  margin: 8px;
}




/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#fff; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background:#00BC8C; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}

.auto{ padding-left: 0px !important ; padding-right: 0px !important }

.product-box{ padding: 20px 10px;  
  -moz-transition: all .9s ease-in;
   -webkit-transition: all .9s ease-in;
   -o-transition: all .9s ease-in;
   transition: all .9s ease-in;
  }
 .product-box:hover{ background: #e2e2e2 ;  }
 .product-img{ margin-bottom: 10px;}
 .product-name{ font-size: 20px; color: crimson}


 .popup-container{ padding: 20px 10px;}
 .popup-container .body {
  width: auto;
  }
.cart-popup .product-name{  font-size: 30px; color: crimson }

.cart-popup .product-btn-sec{ margin-top: 10px; }
.cart-popup { min-width: 480px}
.no-margin{ margin: 0px; }

.porduct-list-container{ margin-top: 20px; }
.porduct-list{ background: #fff; box-shadow: #999 2px 2px 10px ; margin-bottom: 30px; padding: 20px; border-radius: 10px;}
.porduct-list img{ width: 100% }
.porduct-list h3{ margin-top: 20px; font-size: 22px; text-transform: uppercase; text-align: center }
.porduct-list .p-price{ font-size: 20px;}
.action-section{ text-align: center;
  font-size: 18px;
}


.custom-from-sec h2{ color:crimson  ; margin-bottom: 30px; text-transform: uppercase; }
 
