
<md-dialog>
    <div></div>
    <div class="popup-container ">
        <div class="body cart-popup">
            <div class="col-md-12 m-t-5 m-b-5">
                <ul class="list-inline">
                    <li><div class="tile-small text-center p-t-25 product-name">{{arCntrl.productName}}</div></li>
                </ul>               
            </div>
            <div class="col-md-12">
                    <div class="text-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Quantity: </label>
                                <div class="input-group">
                                    <div class="input-group-addon">Quantity:</div>
                                    <div class="form-control">{{arCntrl.quantity}}</div>
                                </div>
                            </div>
                            <button class="btn btn-qc btn-qc-default no-margin" ng-click="arCntrl.decreaseQuantity()" type="button">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-qc btn-qc-default no-margin" ng-click="arCntrl.increaseQuantity()" type="button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </form>


                        <form class="form-inline product-btn-sec">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputAmount">Price</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Price</div>
                                    <div class="form-control"> {{arCntrl.productPrice}}X{{arCntrl.quantity}}</div>
                                </div>
                            </div>
                            <div class="btn btn-default m-t-10">{{arCntrl.productPrice * arCntrl.quantity | currency:"₹":2}}</div>
                        </form>
                    </div>
              
                    <div class="clearfix"></div>
                    <div class="col-md-12 auto btn-sec m-b-20 m-t-10 product-btn-sec">
                        <button class="btn btn-primary pull-right" ng-disabled="arCtrl.quantity===0"  ng-click="arCntrl.save()">Ok</button>
                        <button class="btn btn-danger pull-left" ng-click="arCntrl.cancel()">Cancel</button>
                    </div>                
            </div>
        </div>
    </div>
</md-dialog>