<div class="container porduct-list-container">
    <div class="row">
    <div class="col-md-8">

    <div class="row porduct-list" ng-repeat="order in cartCntrl.orders.orders" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}"
    md-theme-watch>
        <div class="col-md-4">
                <img class="img-responsive" src="{{order.prod_img}}" />
                <h3 class="product-name">{{order.prod_name}}</h2>
        </div>
        <div class="col-md-4 text-center">
            <p class="p-price">
                Quantity
                <br>{{order.prod_total_quantity}}
                </p>
            </div>
        <div class="col-md-4 text-center">
            <p class="p-price">
                Price <br>  
                {{order.prod_total_price | currency:"₹ ":2}}
            </p>
        </div>
              
    </div>
    </div>

    <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 action-section ">
                    <ul class="list-unstyled">
                        <li>
                            Total:
                        </li>
                        <li>
                            Quantity: {{cartCntrl.TQuantity}}
                        </li>
                        <li>
                            Price: {{cartCntrl.TPrice}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary" ng-click="cartCntrl.RedirectToCheckout()">Checkout</button>
                </div>
             </div>
    </div>
</div>
<div class="clearfix"></div>
</div>