
<div class="container">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    
      <div id="form-container" class="custom-from-sec">
      
          <div class="page-header text-center">
              <h2>Checkout</h2>
              <div id="status-buttons" class="text-center">
                  <a ui-sref-active="active" ui-sref=".personaldt"><span>1</span> Personal Details</a>
                  <a ui-sref-active="active" ui-sref=".deliverydt"><span>2</span> Delivery Details</a>
                  <a ui-sref-active="active" ui-sref=".ordersmry"><span>3</span> Order Summary</a>
                  <a ui-sref-active="active" ui-sref=".payopt"><span>4</span> Payment Options</a>
              </div>
          </div>
          
        
          <form id="signup-form" ng-submit="chOCntrl.processForm()">
        
              <div id="form-views" ui-view></div>
          </form>
      
      </div>
      
      
      <!-- <pre>
        {{ chOCntrl.finalOrder }}
      </pre> -->
    
    </div>
    </div>
</div>
    
    