<div>
        <a ng-click="chOCntrl.getMyLocation()" class="btn btn-block btn-info">
       USE MY CURRENT LOCATION 
        </a>
</div>
<div><p ng-show="chOCntrl.message">Unable To Find Your Location</p></div>
<br>
<div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" name="name" ng-model="chOCntrl.finalOrder.address">
</div>

<div class="form-group">
    <label for="pincode">Pincode</label>
    <input type="text" class="form-control" name="pincode" ng-model="chOCntrl.finalOrder.pincode">
</div>
<div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" name="city" ng-model="chOCntrl.finalOrder.city">
</div>
<div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" name="state" ng-model="chOCntrl.finalOrder.state">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="checkout.ordersmry" class="btn btn-block btn-info">
    Next Section <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
</div>
</div>