<div id="menu-bar">
    <h1><img style="width:30px; height:30px;" src="app/content/img/1.png"/> Ecommerce Tiger</h1>
      <ul>
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="cart">Cart</a></li>
        <li><a ui-sref="checkout.personaldt">Checkout</a></li>
    </ul>
</div>
