<div class="container">  
    <md-card flex-xs flex-gt-xs="30" class="col-md-12 product-box" ng-repeat="product in homeCntrl.prodList" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
      <div class="col-md-12">
          <img class="img-responsive product-img" title="{{product.prod_name}}" src="{{product.prod_img}}"/>
      </div>
      <div class="col-md-12">
          <p class="md-subhead product-name" >{{product.prod_name}}</p>
          <span class="md-subhead">{{product.prod_price | currency:"₹ ":2}}</span>
      </div>  
      <div class="col-md-12 auto">
          <button class="btn btn-success" ng-click="homeCntrl.Buy(product.prod_name,product.prod_price, product._id, product.prod_img)">Buy</button>
          <button class="btn btn-primary pull-right" ng-click="homeCntrl.AddToCart(product.prod_name,product.prod_price,product._id,product.prod_img)">Add To Cart</button>
      </div>  
      </md-card>  
      <div class="clearfix"></div>  
</div>

