<div class="content">
    <div class="col-md-8">
      <div  class="row " style="margin-bottom:10px;" 
      ng-repeat="order in chOCntrl.orders.orders" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}"
          md-theme-watch>
        <div class="col-md-6">
                <img class="img-responsive" src="{{order.prod_img}}" />
        </div>
        <div class="col-md-6">
                <p class="md-headline">{{order.prod_name}}</p>
                <p>Quantity : {{order.prod_total_quantity   }}</p>
                <p class="md-subhead">{{order.prod_total_price | currency:"₹ ":2}}</p>
        </div>
    </div>
    </div>
    <div class="col-md-4">
     <md-card-actions layout="row" layout-align="end center">
          <ul class="list-unstyled">
              <li>
                    TOTAL
              </li>
              <li>
                  Quantity: {{chOCntrl.TQuantity}}
              </li>
              <li>
                  Price: {{chOCntrl.TPrice}}
              </li>
          </ul>
      </md-card-actions>
    </div>
      <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="checkout.payopt" class="btn btn-block btn-info">
            Next Section  <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
        </div>
  </div>