
    <!-- <i style="font-size:30px; margin-bottom:20px" class="fa fa-heart-o" aria-hidden="true"></i> -->
    <label>
        <input type="radio" ng-model="chOCntrl.finalOrder.paymentMethod" value="creditcard"> Credit Card </label>
    <br>
    <label>
        <input type="radio" ng-model="chOCntrl.finalOrder.paymentMethod" value="netbanking"> Net Banking </label>
    <br>
    <label>
        <input type="radio" ng-model="chOCntrl.finalOrder.paymentMethod" value="cashondelivery"> Cash On Delivery </label>
    <br>

    <br>
    <div class="text-center">
    <button type="submit" class="btn btn-danger" style="margin-bottom:20px;">Submit</button>
</div>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="checkout.ordersmry" class="btn btn-block btn-info">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back
        </a>
    </div>
</div>