<form>
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" ng-model="chOCntrl.finalOrder.name">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" ng-model="chOCntrl.finalOrder.email">
</div>

<div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" name="phone" ng-model="chOCntrl.finalOrder.phone">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="checkout.deliverydt" class="btn btn-block btn-info">
    Next Section <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
</div>
</form>